.card {
    color: var(--text-color);
    background-color: var(--tertiary-color);
    width: 200px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: .3s;

    & .box-card {
        width: 100%;
        height: 50%;
        overflow: hidden;

        & img {
            width: 100%;
        }
    }

    & .box-info {
        width: 100%;
        height: 50%;
        text-align: left;
        padding: 10px;
        position: relative;

        & h1, p {
            font-weight: 700;
            padding: 2px 0px;

            & span {
                font-weight: 300;
            }
        }

        & .button-div {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px;

            & button {
                border: none;
                background-color: transparent;
                width: 25px;
                height: 25px;
                cursor: pointer;
                margin: 0px 5px;
                padding: 0px 5px;
                background-color: var(--quaternary-color);
                border-radius: 3px;
                transition: .3s;
            }

            & .svg-action {
                color: white;
                width: 100%;

                display: flex;
                margin: auto;
            }

            & .button-div, button:hover {
                transform: scale(1.1);
                box-shadow: 3px 3px 5px rgba(105, 105, 105, 0.322);
            }
        }
    }
}

.card:hover {

   /*  transform: scale(1.005); */

    box-shadow: 5px 5px 10px rgba(105, 105, 105, 0.322);
}