#container {
    width: 90%;
    max-width: 1300px;

    display: flex;
    margin: auto;

    & .centralizing {
        width: 100%;
        text-align: center;
    }
}

.title-box {
    margin: auto;
    padding: 20px;

    & h1 {
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

#btn-close {
    background-color: rgb(220, 17, 64);
}

.btn-open-overlay {
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 400;
    background-color: rgb(17, 105, 220);
    border-radius: 5px;

    transition: .3s;
}

.btn-open-overlay:hover, .btn-open-overlay-close:hover {
    transition: .3s;
    transform: scale(1.01);
    box-shadow: 5px 5px 5px rgba(74, 74, 74, 0.41);
}