.slider-container {
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.slider-track {
    display: flex;
    width: 300vw;
    height: 100%;
    
    animation: slide-movement 12s ease-in-out infinite;
    animation-delay: 3s;
}

.slide {
    width: calc(100% / 3);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.slide.one {
    background-image: url(../../../assets/images/edited-background-slide-1.jpg);
    background-size: cover;
    background-position: 0px -100%;
}

.slide.two {
    background-image: url(../../../assets/images/edited-background-slide-2.jpg);
    background-size: cover;
    background-position: 0px -100%;
}

.slide.three {
    background-image: url(../../../assets/images/edited-background-slide-3.jpg);
    background-size: cover;
    background-position: 0px -100%;
}

.slide h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.slide p {
    font-size: 1.2em;
}

@keyframes slide-movement {
    0%, 20% {
        transform: translateX(0);
    }

    /* Transição para Slide 2 (1s) */
    25%, 45% {
        transform: translateX(-100vw);
    }

    /* Transição para Slide 3 (1s) */
    50%, 70% {
        transform: translateX(-200vw);
    }

    /* Volta suave para o Slide 1 (1s) */
    75%, 100% {
        transform: translateX(0);
    }
}




/* content-container */
.content-container {
    height: 100%;
    margin: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    & aside {
        max-width: 500px;
        width: 50%;
        margin: 20px;
        text-align: center;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: var(--quaternary-color);
        box-shadow: 4px 4px 13px rgb(128, 128, 128);
        overflow: hidden;
        transition: .2s;

        & .aside-background {
            width: 100%;
            height: 300px;
            background-image: url(../../../assets/images/home-aside-background.jpg);
            background-size: cover;
            margin-bottom: 20px;

            display: flex;
            align-items: center;
        }

        & h1 {
            font-size: 1.3rem;
            padding-bottom: 5px;
            margin: auto;
            text-shadow: 1px 1px 2px black;
        }
        
        & p {
            text-align: justify;
        }

        & ul {
            margin: 0px 20px 20px 20px;

            & li {
                text-align: left;
                list-style: none;
                transition: .3s;

                & a {
                    text-decoration: none;
                    color: var(--quaternary-color);
                }
            }
        }
    }

    & article {
        max-width: 500px;
        width: 50%;
        background-color: var(--primary-color);
        color: var(--quaternary-color);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 4px 4px 13px rgb(128, 128, 128);

        & h1 {
            text-align: center;
            padding: 20px;
        }

        & p {
            text-align: justify;
            text-indent: 25px;
        }
    }

    & aside:hover {
        transform: scale(1.02, 1.02);
    }
    
    & li:hover {
        text-decoration: underline;
        transform: scale(1.01, 1.01);

    }
}


@media (max-width: 1000px) {
    .slide.one {
        background-size: cover;
        background-position: 0px -00%;
    }

    .slide.two {
        background-size: cover;
        background-position: 0px -0%;
    }

    .slide.three {
        background-size: cover;
        background-position: 0px -00%;
    }
}

@media (max-width: 800px) {
    .content-container {
        display: block;

        & aside, article {
            margin: 20px auto;
            width: 100%;
        }
    }
}